@model Tamanho

@{
    ViewData["Title"] = "Detalhes Tamanho";
}

<div class="row">
    <div class="col-md-8">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Nome
                                <a class="text-white float-right" asp-action="Atualizar" asp-route-id="@Model.Id"><i class="fa-regular fa-pen-to-square"></i></a>
                            </h5>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>